body {
    background-color: #022e6b;
}

.row {
    margin-top: 30px;
    margin-bottom: 20px;
}

.col-3 {
    color: #f2ab35;
}

hr {
    background-color: white;
}
h1 {
    color: white;
    font-size: 50px;
}
.text-white{

    font-size: 20px;
}
.circular-image {
    
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 20px;
}


.circular-image img {
    width: 70%;
    height: 70%;
    object-fit: cover; 
    object-position: center; 
    
    transform: translate(20%, 25%) scale(1.5);

}
.circular-image :hover {

    opacity: 0.7;
}
.logo-image img {
    width: 80%;
    height: 90%;
    margin-left: 20px;

}

.make-indent{
    padding-left: 20px;
}

.devops {
    position: relative;
    margin-top: 60px;
}
.frontend {
    position: relative;

    margin-top: 50px;
}

.logo {
    margin-left: 20px;
}