body {
    background-color: #022e6b;
}

.row {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* .academic-year {
    margin-left: 70%;
} */

a {
    color : greenyellow;
    text-decoration: underline;
}
h3 {
    color: #f2ab35;
}

hr {
    background-color: white;
}
h1 {
    color: white;
    font-size: 50px;
}
.text-white{

    font-size: 20px;
}
.circular-image {
    
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 20px;
    
}


.circular-image img {
    
    width: 70%;
    height: 70%;
    object-fit: cover; 
    object-position: center; 
    
    transform: translate(20%, 25%) scale(1.5);

}
.circular-image :hover {

    opacity: 0.7;
}
.logo-image img {
    width: 40%;
    height:55%;
    margin-left: 20px;

}
@media (max-width: 430px) {
    .logo-image img {
        width: 100%; /* Adjust the width as needed for mobile */
        height: 100%; /* Maintain aspect ratio */
        margin-left: 10px; /* Adjust the margin as needed for mobile */
    }
    
}

.make-indent{
    padding-left: 20px;
}

.devops {
    padding-top: 30px;
}
.backend {
    padding-top: 25px;
}

.logo {
    margin-left: 20px;
}